.shop {
  margin: 0 auto;
  width: 50%;
}

.shop-title {
  display: flex;
  flex-direction: row;
}

.shop-title li {
  padding: 15px;
  background-color: rgba(0, 0, 255, 0.3);
  border: 1px solid gray;
}

.shop-list li {
  display: flex;
  flex-direction: row;
}

.shop-footer {
  display: flex;
  flex-direction: row;
}