#shop {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#shop-table {
  width: 100%;
}

#shop-table caption {
  font-size: 32px;
}

#shop-table thead {
  background-color: rgba(0, 0, 255, 0.2);
}

#shop-table th {
  padding: 15px;
  border: 1px solid gray;
}
