body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.main {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.header {
  background-image: url('../images/starfield-banner.jpg');
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  width: inherit;
  align-items: center;
}

.header .logo {
  width: auto;
  height: 100px;
  background-repeat: no-repeat;
}

.header-tags {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header-tags li {
  color: white;
  padding: 10px;
}

.header-tags-top {
  align-self: flex-end;
  display: flex;
  font-size: 15px;
  margin: 10px;
  padding: 0;
}

.header-tags-top .interaction {
  border-right: 2px solid white;
}

.header-tags-top-search {
  position: relative;
}

.header-tags-top-search input {
  background-color: gray;
  height: 70%;
  border: 0;
}

.icon-search {
  width: 19%;
  position: absolute;
  right: 0;
  top: 0;
}

.icon-share {
  width: 32px;
  height: 32px;
}

.header-tags-bottom {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 8px;
  background-color: #555555;
  font-size: 10px;
  margin-bottom: 10px;
}

.header-tags-bottom .interaction {
  border-right: 1px solid white;
}

.mid {
  margin-top: 9%;
}

.mid-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.mid img {
  width: 100%;
}

.mid video {
  width: 100%;
}

.grid-box {
  position: relative;
}

.grid-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
}

.grid-footer-title {
  padding-bottom: 5px;
}

.grid-footer-title span {
  background-color: rgba(93, 127, 185, 0.85);
  padding: 5px;
  color: white;
}

.grid-footer-content {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.grid-1-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.grid-1-1 img {
  width: 100%;
}

.grid-1-3 {
  background-color: rgba(51, 143, 204, 0.5);
  color: white;
  font-size: 10px;
}

.grid-1-3 p {
  margin: 10px 5px 10px 5px;
}

.grid-1-3-title {
  padding: 0 0 5px 0;
  border-bottom: 1px solid white;
  margin:10px 10px 0 10px;
  display: block;
}

.grid-1-3-footer {
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 2.5%;
  padding: 0 5px 0 5px;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.grid-2-1 {
  grid-column: 3 / 5;
}

.grid-2-1 .grid-footer-title {
  background-color: transparent;
}

.grid-3-2 {
  grid-column: 2 / 4;
}

.mid-more {
  background-color: rgb(21, 65, 140);
  color: white;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  color: white;
}

.footer-top {
  align-self: flex-start;
  display: flex;
}

.footer-icon-logo {
  width: 80px;
  height: 80px;
}

.footer-top-info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.footer-bottom {
  display: flex;
  align-self: flex-end;
}

.footer-info {
  color: blueviolet;
  font-size: 12px;
  margin: 0 10px 0 10px
}