* {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 174px;
  height: 156px;
  margin: 0 auto;
}

.top {
  background-color: red;
  border-radius: 5px;
}

.top-left {
  display: inline-block;
  font-family: Lobster;
}

.top-left p {
  margin: 8px;
}

.top-right {
  position: relative;
  left: 21px;
  display: inline-block;
  width: 0;
  height: 0;
  border: 10px solid red;
  border-top: 10px solid #fff;
  position: relative;
  top: 10px;
}

.mid {
  width: 0;
  height: 0;
  border: 10px solid #fff;
  border-bottom: 10px solid red;
  position: relative;
  left: 147px;
}

.bottom {
  margin: 0;
  border-radius: 5px;
  background-color: red;
}
.bottom-options {
  margin: 0;
  padding: 0;
}

.bottom-options li {
  list-style: none;
  position: relative;
  left: 34px;
  top: 5px;
  font-family: Lobster;
}

.bottom-options-icon {
  width: 31px;
  height: 31px;
  display: inline-block;
  background-image: url('../images/twtask-course1-week1-section3-ques2.png');
  background-size: 80px;
}

.options-one {
  background-position: 8px -18px;
}

.options-two {
  background-position: -26px 7px;
}

.options-three {
  background-position: 8px 8px;
}
