.main { 
  margin: 0 auto;
  width: 1000px;
  height: 800px;
  background-color: rgba(155, 155, 55, 0.3);
  position: relative;
}

.no-move {
  width: 80px;
  height: 80px;
  background-color: yellow;
  position: absolute;
  right: 200px;
  bottom: 200px;
}

.move {
  width: 80px;
  height: 80px;
  background-color: green;
  position: absolute;
  cursor: move;
}